<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="conn"
			 connectionString="Data source=DESKTOP-SB49OK4\SQLEXPRESS; Initial Catalog= Northwind; Integrated Security=true"/>
	</connectionStrings>
</configuration>
